html, body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

#canvas{
    background-color: #6a93b0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}